.navBtn {
    margin-right: 5px;
}

.navBtn:hover {
    font-weight: bold;
}

.backgroundImage {
    height: 450px;
}

.backgroundTitle {
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bold;
    /* color: #28a745; */
}

.backgroundDescription {
    font-size: x-large;
    /* color: #28a745; */
}

.cardDeck {
    margin-left: 10px;
    margin-right: 10px;
}

.cardImageHeader {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
}

.body {
    margin-bottom: 50px;
    margin-top: 0;
    position: relative;
}

.tutorsContainer {
    padding-bottom: 60px; 
    margin-left: auto;
    margin-right: auto;
}