.BeginNavBar {
    background-color: #f5f5f5;
    box-shadow: 5px 0px 5px gray;
    height: 50px;
    position: relative;
}

.SignupNavBrand
{
    margin-left: 200px;
    color: forestgreen;
    margin-bottom: 5px;
}

.SignupNavCollapse
{
    margin-right: 100px;
}

.LinkLoginFromSignUp
{
    margin-left: 10px;
    color: forestgreen;
}

.SignupForm {
    padding: 50px;
    margin-right: 180px;
}

.Signupbtn {
    width: 500px;
}

.SignupForm form {
    margin: 0 auto;
    max-width: 300px;
}

.Cancel {
    background-color: #FF0000;
    border-color: #FF0000;
    width: 500px;
    color: #fff; 
}

.Cancel:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}

.Cancel {
    background-color: #FF0000;
    border-color: #FF0000;
}

