#containerSidebar {
    margin-top: 20px;
}

#containerContent {
    margin-top: 10px;
}

.listContent {
    margin-top: 10px;
}

.containerSidebarContent {
    flex-direction: column;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 25%;
    margin: auto;
}

.popupTitle {
    text-align: center;
}

.popupBtn {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}